<!doctype html>
<html>
  <head>
    <title>Dismaland</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <header>
      <img src="/images/logo.jpg">
    </header>
    <nav id="inline">
      <ul class="no-bullet">
	<li><a href= "/">Go home</a></li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <ul class="no-bullet">
	<li>A family theme park unsuitable for children.</li>
      </ul>
      <div class="row">
	<div class="columns">
	  21 August - 27 September 2015
	</div>
	<div class="columns">
	  Weston-super-Mare, Somerset, England
	  (51.3409°N 2.9828°W)
	</div>
      </div>
    </footer>
  </body>
</html>
